[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "==5.7.8"
cython = "*"
invoke = "*"
pandas = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
